// Цветовая палитра
$color-primary: #3e9cdc; // Основной синий цвет
$color-secondary: #10101d; // Темный фон
$color-accent: #286690; // Акцентный синий
$color-white: #fff; // Белый
$color-light-gray: #bbbbbb; // Светло-серый
$color-dark-gray: #3d4050; // Темно-серый
$color-border: #ccc; // Цвет границ
$color-hover: #e0e0e0; // Цвет при наведении
$color-text-dark: #2a2b30; // Темный текст
$color-border-light: #6f6d7b; // Светлая граница
$color-dots: #c3c3c3; // Цвет точек
$color-text-light: #333; // Светлый текст
